<app-header></app-header>

<div class="section">
  <div class="container">
    <div class="table-container box notification">
      <h1 class="title">Songs list</h1>

      <table class="table is-striped is-hoverable is-fullwidth notification is-info is-light">
        <thead>
        <tr>
          <th>Author</th>
          <th>Title</th>
          <th>Genre</th>
          <th>Modify</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let s of songs">
          <td>{{s.author}}</td>
          <td>{{s.name}}</td>
          <td>{{s.genre}}</td>
          <td>
            <a (click)="goToEditSong(s.id!)">
              <span class="icon">
                <fa-icon [icon]="faPen"></fa-icon>
              </span>
            </a>
          </td>
          <td>
            <a (click)="deleteSongDialog(s)">
              <span class="icon"><fa-icon [icon]="faTrash"></fa-icon></span>
            </a>
          </td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>
