<app-header></app-header>

<section class="section">
  <div class="container">
    <div class="table-container box notification">
      <h1 class="title">Add songs to playlist</h1>

      <div class="field">
        <div class="control has-icons-left">
          <input class="input is-medium" type="text"
                 placeholder="Filter" (keyup)="doFilter($event)">
          <span class="icon is-small is-left">
                  <fa-icon [icon]="faSearch"></fa-icon>
          </span>
        </div>
      </div>

      <!--
      Como predeterminado, las canciones que antes se modificaron quedan al principio.
      Estaría bueno que sea por autor - nombre - género, pero las tablas de
      Angular Material no soportan ordenar por múltiples campos por ahora...
      -->
      <mat-table [dataSource]="songsDataSource" class="mat-elevation-z2" matSort>

        <ng-container matColumnDef="author">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Author</mat-header-cell>
          <mat-cell *matCellDef="let s">{{s.author}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let s">{{s.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="genre">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Genre</mat-header-cell>
          <mat-cell *matCellDef="let s">{{s.genre}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="add">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Add</mat-header-cell>
          <mat-cell *matCellDef="let s">
          <a (click)="addSongToPlaylist(s)">
              <span class="icon">
                <fa-icon [icon]="faPlus"></fa-icon>
              </span>
            </a>
          </mat-cell>
          <mat-cell *matCellDef="let s">{{s.genre}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns;"
		 [class.is-selected]="selection.isSelected(row)">
        </mat-row>

      </mat-table>

      <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

      <hr class="table-sep" />
      <div class="table-btns">
        <button class="button" (click)="goToPlaylistsList()">
          <span class="icon-text">
            <span class="icon"><fa-icon [icon]="faBack"></fa-icon></span>
            <span>Go back</span>
          </span>
        </button>
      </div>

    </div>

  </div>
</section>
