<app-header></app-header>

<div class="section">
  <div class="container">
    <div class="columns is-centered">

      <div class="column is-10-tablet is-10-desktop is-8-widescreen box notification is-info is-light">

        <p *ngIf="isAddMode" class="title">Add new song</p>
        <p *ngIf="!isAddMode" class="title">Modify song</p>

        <form [formGroup]="songForm" (ngSubmit)="onSubmit()">
          <div class="field is-horizontal">

            <div class="field-label is-normal">
              <label class="label">Name</label>
            </div>

            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input formControlName="name" class="input" type="text" placeholder="The song's name"
                         [ngClass]="{ 'is-danger': (f.name.touched || submitted) && f.name.errors }">
                  <div *ngIf="f.name.touched || submitted " class="help is-danger">
                    <div *ngIf="f.name.hasError('required')">A name is required for the song</div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="field is-horizontal">

            <div class="field-label is-normal">
              <label class="label">Author</label>
            </div>

            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input formControlName="author" class="input" type="text" placeholder="The author's name"
                         [ngClass]="{ 'is-danger': (f.author.touched || submitted) && f.author.errors }">
                  <div *ngIf="f.author.touched || submitted" class="help is-danger">
                    <div *ngIf="f.author.hasError('required')">An author is required for the song</div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Genre</label>
            </div>

            <div class="field-body">
              <div class="control">
                <div class="select">
                  <select formControlName="genre">
                    <option *ngFor="let g of genres" [value]="g.id">{{ g.desc }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label">
              <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <button class="button" [disabled]="loading" type="submit">
                    <span class="icon-text">
                      <span class="icon"><fa-icon [icon]="faSave"></fa-icon></span>
                      <span *ngIf="isAddMode">Save</span>
                      <span *ngIf="!isAddMode">Update</span>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>

        </form>

      </div>
    </div>

    <div class="section">
      <div *ngIf="submitted" class="notification is-light" [ngClass]="err ? 'is-danger' : 'is-success'">
        <button class="delete"></button>
        {{ msg }}
      </div>
    </div>
  </div>


</div>

