<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/home">
      <img src="assets/logo.png">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-buttons">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar-buttons" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/home/playlists">
        Playlists
      </a>
      <a class="navbar-item" routerLink="/home/songs">
        Songs list
      </a>
      <a class="navbar-item" routerLink="/home/songs/new">
        Add new song
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" (click)="logout()">
            <span class="icon-text">
              <span class="icon"><fa-icon [icon]="faDoorClosed"></fa-icon></span>
              <span><strong>Logout</strong></span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
