<app-header></app-header>

<section class="section">
  <div class="container">
    <div class="table-container box notification">
      <h1 class="title">Playlists</h1>

      <div class="field">
        <div class="control">
          <input class="input is-medium" type="text"
                 placeholder="Filter" (keyup)="doFilter($event)">
        </div>
      </div>

      <mat-table [dataSource]="playlistsDataSource" class="mat-elevation-z2" matSort>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let p"> {{p.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="user">
          <mat-header-cell *matHeaderCellDef mat-sort-header>User</mat-header-cell>
          <mat-cell *matCellDef="let p"> {{p.user.email}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="songs">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Songs</mat-header-cell>
          <mat-cell *matCellDef="let p"><details>
            <summary>{{p.songs.length}}</summary>
            <!-- Uso index para numerar las canciones -->
            <p *ngFor="let s of p.songs; let i=index" class="song">
              {{i + 1}}. {{s.name}} - {{s.author}} - {{s.genre}}
            </p>
          </details></mat-cell>
        </ng-container>

        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
          <mat-cell *matCellDef="let p">
            <a (click)="goToEditPlaylist(p.id)">
              <span class="icon">
                <fa-icon [icon]="faPen"></fa-icon>
              </span>
            </a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
          <mat-cell *matCellDef="let p">
            <a (click)="deletePlaylistDialog(p)">
              <span class="icon">
                <fa-icon [icon]="faTrash"></fa-icon>
              </span>
            </a>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>

      <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

    </div>

  </div>
</section>
