<section class="hero is-primary is-fullheight is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <p class="title">
            MyMusic
          </p>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="box">
            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left">
                <input formControlName="email" type="email" placeholder="e.g. usuario@gmail.com" class="input" required
                [ngClass]="{ 'is-danger': submitted && f.email.errors }">
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faEnvelope"></fa-icon>
                </span>
                <div *ngIf="submitted && f.email.errors" class="help is-danger">
                  <p>Email is required</p>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control has-icons-left">
                <input formControlName="password" type="password" placeholder="*******" class="input" required
                [ngClass]="{ 'is-danger': submitted && f.password.errors }">
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faLock"></fa-icon>
                </span>
                <div *ngIf="submitted && f.password.errors" class="help is-danger">
                  <p>Password is required</p>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox">
                Remember me
              </label>
            </div>
            <button [disabled]="loading" class="button is-success">
              Login
            </button>
            <div *ngIf="loginError" class="help is-danger">
              {{ loginErrorMsg }}
            </div>
          </form>

          <div class="box">
            <div class="field">
              <label class="label">Don't have an account?</label>
              <button class="button is-link" (click)="goToSignup()">
                Sign up
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
