/* You can add global styles to this file, and also import other style files */

@import "src/app/variables"

html
  min-height: 100vh
  display: flex
  flex-direction: column

body
  min-height: 100vh
  background-color: $light-background-color
  display: flex
  flex-direction: column

.box
  background-color: $box-background-color

.button-main
  background-color: indianred
  color: whitesmoke
  font-weight: bold

.notification-basics
  outline: 2px solid
  color: black
  text-align: center

.success-notification
  @extend .notification-basics
  outline-color: darkgreen
  background: darkseagreen

.error-notification
  @extend .notification-basics
  outline-color: darkred
  background: palevioletred

.mat-simple-snackbar-action
  color: black
